# Django settings
DJANGO_SECRET_KEY="rEJbEaTVs1Z4SC1QvNJN-BUczJ8LPt2cGw_1l87c3lLJ-Pi_BxeafJP9k2s6RKTiLzg"
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com

# Optional: Database URL if migrating to Postgres
# DATABASE_URL=postgresql://user:password@host:port/dbname