<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} | Cryptic{% endblock %}</title>
        {% load static %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css" />
        {% include "includes/index_style.html" %}
</head>
<body class="min-h-screen terminal-bg text-green-400">
    {% include "includes/header.html" %}

    {% block content %}
    {% endblock %}

    {% include "includes/footer.html" %}
</body>
</html>